/* Make the invisible visible */

* {
  border: thin red solid;
}

h1 {
	background-color: lightgrey;
	height: 200px;
}

.First {
	float: left;
	width: 33%
}

.Second {
	float: left;
	width: 66%
}

.row {
  clear: both;
}

.Third {
	float: left;
	width: 25%
}

.clearfix {
  clear: both;
}

.button {
  background-color: blue;
  color: white;
  text-decoration: none;
  height: 30px;
  width: 150px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
}
