html  {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.title { 
  font-size: 30pt;
  text-align: center;
  letter-spacing: .2em;
}

.subtitle {
  text-align: center;
  font-style:italic;
  letter-spacing: .2em;
}

.quote{
  font-style: italic;
}

footer{
  text-align: right;
  text-transform: uppercase;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}

body {
  font-family: "Computer Modern Serif";
  font-size: 16pt;
}

h2{
 text-transform: uppercase;
  letter-spacing: .15em;
  border-top: solid medium  ;
  border-bottom: solid thin;
  font-size: 16pt
}

h2 small{
  text-transform: lowercase;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
}

ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
}
ol > li:before {
  content: counter(list, decimal) ") ";
  counter-increment: list;
}
ol{ padding-left:0; list-style-position:inside; }

dt  {
    float:left;
}

dd {
    padding-left: 160px;
}

.schedule {  
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.week {
 -webkit-transform: rotate(-90deg);
 text-transform: uppercase;
 text-align: center;
}

tbody {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

th{
  color: white;
  background-color: black;
  font-weight: lighter;
  border: solid thin lightgray; 
}

td{
  border: solid thin lightgray;
}

.odd_week {
  background-color: lavender;
}
/* ----------------------------------------------------------------- */
/* The scary stuff below is just to get the right font loaded up.    */
/* Don't worry about it. Write your CSS rules above the dotted line. */
/* I started them off for you with a rule about the body tag.        */

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunrm.eot');
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunrm.woff') format('woff'),
     url('fonts/cmunrm.ttf') format('truetype'),
     url('fonts/cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbx.eot');
  src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbx.woff') format('woff'),
     url('fonts/cmunbx.ttf') format('truetype'),
     url('fonts/cmunbx.svg#cmunbx') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunti.eot');
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunti.woff') format('woff'),
     url('fonts/cmunti.ttf') format('truetype'),
     url('fonts/cmunti.svg#cmunti') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbi.eot');
  src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbi.woff') format('woff'),
     url('fonts/cmunbi.ttf') format('truetype'),
     url('fonts/cmunbi.svg#cmunbi') format('svg');
  font-weight: bold;
  font-style: italic;
}
